<div>
  <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
  <app-filter
    [all]="getTotalProducts()"
    [inStock]="getInStockProducts()"
    [outOfStock]="getOutOfStockProducts()"
    (filterRadioButtonSelectionChanged)="onFilterRadioButtonChanged($event)"
  ></app-filter>
</div>
<ng-container *ngFor="let p of products">
  <!-- productCountRadioButton === 'All' ||
      productCountRadioButton === p.availability -->
  <div
    *ngIf="
      (productCountRadioButton === 'All' ||
        productCountRadioButton === p.availability) &&
      (searchText === '' || p.name.toLowerCase().includes(searchText))
    "
  >
    <div class="product-container">
      <div class="image-container">
        <img
          [src]="p.image"
          alt="img"
          style="max-height: 50px; max-width: 50px"
        />
      </div>
      <div>
        <div class="name-container">
          <h6>{{ p.name }}e</h6>
        </div>
        <div class="detailContainer">
          <div
            class="details"
            [ngStyle]="{
              color: p.availability === 'In Stock' ? 'Green' : 'Red'
            }"
          >
            {{ p.availability }}
          </div>
          <div class="details">{{ p.price }}</div>
          <div class="details">{{ p.color }}</div>
        </div>
      </div>
      <div class="options">
        <button class="btn1" [routerLink]="['/Product', p.id]">
          Show Details
        </button>
        <button
          class="btn2"
          (click)="addToCart(p)"
          [disabled]="p.availability === 'Out of Stock' || p.quantity === 0"
          [ngClass]="{
            'added-btn': addedProducts.has(p.id),
            'disabled-btn':
              p.availability === 'Out of Stock' || p.quantity === 0
          }"
        >
          <!-- *ngIf="p.availability === 'In Stock'; else notifyme" -->
          {{ addedProducts.has(p.id) ? "Remove from Cart" : "Add to Cart" }}
        </button>
        <!-- <ng-template #notifyme>
          <button [ngStyle]="{ backgroundColor: 'Red' }" class="btn2">
            Notify Me
          </button>
        </ng-template> -->
      </div>
    </div>
  </div>
</ng-container>