<div class="add-product-container">
  <button *ngIf="isAdmin" class="add-btn" (click)="openModal()">
    Add Product
  </button>
</div>

<div>
  <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
  <app-filter
    [all]="getTotalProducts()"
    [inStock]="getInStockProducts()"
    [outOfStock]="getOutOfStockProducts()"
    (filterRadioButtonSelectionChanged)="onFilterRadioButtonChanged($event)"
  ></app-filter>
</div>
<ng-container *ngFor="let p of products">
  <!-- productCountRadioButton === 'All' ||
      productCountRadioButton === p.availability -->
  <div
    *ngIf="
      (productCountRadioButton === 'All' ||
        productCountRadioButton === p.availability) &&
      (searchText === '' || p.name.toLowerCase().includes(searchText))
    "
  >
    <div class="product-container">
      <div class="image-container">
        <img
          [src]="p.image"
          alt="img"
          style="max-height: 50px; max-width: 50px"
        />
      </div>
      <div>
        <div class="name-container">
          <h6>{{ p.name }}e</h6>
        </div>
        <div class="detailContainer">
          <div
            class="details"
            [ngStyle]="{
              color: p.availability === 'In Stock' ? 'Green' : 'Red'
            }"
          >
            {{ p.availability }}
          </div>
          <div
            class="details"
            [ngStyle]="{
              color: p.availability === 'In Stock' ? 'Green' : 'Red'
            }"
          >
            Quantity: {{ p.quantity }}
          </div>
          <div class="details">Price: {{ p.price }}</div>
          <div class="details">Color: {{ p.color }}</div>
        </div>
      </div>
      <div *ngIf="isAdmin" class="options admin-buttons">
        <button class="edit-btn" (click)="editProduct(p)">Edit</button>
        <button class="delete-btn" (click)="deleteProduct(p.id)">Delete</button>
      </div>
      <div class="options" *ngIf="!isAdmin">
        <button class="btn1" [routerLink]="['/Product', p.id]">
          Show Details
        </button>
        <button
          class="btn2"
          (click)="addToCart(p)"
          [disabled]="p.availability === 'Out of Stock' || p.quantity === 0"
          [ngClass]="{
            'added-btn': addedProducts.has(p.id),
            'disabled-btn':
              p.availability === 'Out of Stock' || p.quantity === 0
          }"
        >
          {{ addedProducts.has(p.id) ? "Remove from Cart" : "Add to Cart" }}
        </button>
      </div>
    </div>
  </div>
</ng-container>

<div class="modal-overlay" *ngIf="showModal">
  <div class="modal-content">
    <app-product-form
      [product]="selectedProduct"
      (closeModal)="closeModal()"
    ></app-product-form>
  </div>
</div>
